@charset "utf-8";
/* CSS Document */
/*topcontrol*/
.topcontrol{width:50px;min-height:110px;position:fixed;bottom:10px;right:10px;}
	.phone{width:50px;height:50px;background:url(../images/tel.png) no-repeat center;background-size:50px;position:relative;
				-webkit-border-radius:50%;
				-moz-border-radius:50%;
				border-radius:50%;}
		.phone_txt{width:150px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:18px;position:absolute;left:-160px;top:0;background:#5d85a6;display:none;}
	.fankui{width:50px;height:50px;margin-top:10px;background:url(../images/con_bot1.png) no-repeat center;background-size:50px;position:relative;cursor:pointer;}
		.fankui_txt{width:100px;height:50px;line-height:50px;text-align:center;color:#fff;font-size:18px;position:absolute;left:-110px;top:0;background:#5d85a6;display:none;}
	.fanhui{width:50px;height:50px;margin-top:10px;background:url(../images/up3.png) no-repeat center;background-size:50px;display:none;cursor:pointer;
				-webkit-border-radius:50%;
				-moz-border-radius:50%;
				border-radius:50%;}
		.sanjiao{position:absolute;right:-10px;top:15px;
					border-top:10px solid transparent;
    				border-bottom: 10px solid transparent;
    				border-left: 10px solid #5d85a6;}
/*feedback*/
.black{width:100%;height:100%;position:fixed;top:0;right:0;bottom:0;left:0;opacity:0.3;background:#000;z-index:9;display:block;}	
.feedback{width:500px;height:560px;position:fixed;top:50%;left:50%;margin:-280px 0 0 -250px;background:#fff;z-index:99;display:block;}
	.guanbi{width:50px;height:50px;position:absolute;top:-23px;right:-23px;background:url(../images/close.png) no-repeat center;background-size:50px;cursor:pointer;}
	.feed_con{width:80%;height:80%;margin:10% auto;}
		.feed_con p{line-height:20px;font-size:12px;color:#999;margin-bottom:10px;}
		.feed_con h3{line-height:60px;}
		.feed_con textarea{width:100%;height:135px;float:left;resize:none;border:1px solid #dddddd;box-shadow:inset 1px 1px 3px rgba(0,0,0,0.05);padding:8px;border-radius:2px;}
		.feed_con input{width:182px;height:34px;float:left;border:1px solid #dddddd;box-shadow:inset 1px 1px 3px rgba(0,0,0,0.05);padding:0 8px;
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				border-radius:2px;}
		.feedback_tishi{width:100%;height:25px;line-height:25px;float:left;margin:10px 0 -15px 0;color:red;font-size:12px; display:none;}
		.feed_con .but{float:left;width:100%;}	
			.feed_con button{width:180px;height:43px;line-height:43px;float:left;color:#fff;margin-top:26px;border:none;font-size:16px;background:#5d85a6;cursor:pointer;
				-webkit-border-radius:2px;
				-moz-border-radius:2px;
				border-radius:2px;}

