@charset "utf-8";
html,body{background:#fff;color:#333;font:14px/1.6 'Microsoft YaHei',Tahoma,Verdana,'Simsun';}
a{color:#333;text-decoration:none;}
a:hover{color:#008d71;text-decoration:none;}


.header{min-height: 60px; position: relative;  background:#000000;}
.mod-wrap{margin-right:30px;margin-top: 12px;margin-bottom:10px;}
.mod-keywords{float:left;width:100%;box-sizing:border-box;height:34px;padding-top:8px;padding-right:5px;padding-bottom:8px;padding-left:5px;border-top:1px solid #ddd;border-right:none;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-top-right-radius:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top-left-radius:3px;}
.mod-search{float:left;margin-right:-34px;height:34px;line-height:32px;background-color:#008d71;border-top:0;border-right:0;border-bottom:0;border-left:0;width:34px;color:#fff;font-size:16px;position:relative;right:-6px;border-top-right-radius:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top-left-radius:3px;}

.d_nav_th{height: 60px; margin: 0px; padding: 0px; border: none;}
.d_nav_th .container-fluid,.d_nav_th .container-fluid > .navbar-header,.d_nav_th .navbar-collapse{padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;}
.d_nav_th .navbar-nav,.d_nav_th .navbar-form{margin:0px;}
.d_nav_th .dropdown-menu{left:0px;}
.d_nav_th .reslang .dropdown-menu{left: initial;}
.nav2li:hover>ul{visibility:visible;opacity:1;top: 100%!important;}
.nav2li a{color: #333; font-size: 16px;}
.nav2li>a{height: 60px !important; padding:0px 5px !important; line-height: 60px !important; position: relative;border: 1px solid #fff!important;}
.open .menu_hover:after{content: "";display: block;position: absolute;left: 50%;top: -7px;margin-left: -5px;border-bottom: 5px solid #000;border-left: 5px solid transparent;border-right: 5px solid transparent; bottom: 0px; margin-left: -10px;
}
.d_nav_th .nav .open > a,.d_nav_th .nav .open > a:hover,.d_nav_th .nav .open > a:focus{color: #008d71;background-color: #fff;}
.d_nav_th .nav2li>a:hover{color: #008d71;border-color: #fff;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #fff;border-color: #fff;}
.nav3ul{padding:0px;margin:0px;border:0px; border-radius:0px; background-color: #eee;border-top: 2px solid #000;  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);  box-shadow: 0 0px 0px rgba(0, 0, 0, .175);display: block;visibility: hidden;opacity: 0;top: 110%!important;-webkit-transition: all .3s;transition: all .3s;}
.nav3li>a{height: 40px; line-height: 34px !important; color: #333 !important;}
.nav3li>a:hover{background-color: #E5E3E3 !important; color: #008d71 !important;}
.d_nav_th .navdown>a{color: #008d71!important;cursor: auto!important;}
.d_nav_th .navdown>a:hover{color: #008d71!important;}
.d_nav_th .navbar-toggle{width: 50px; height: 50px; background-color:#53575E; margin:25px 15px 25px 0px; border: 0px solid transparent; border-radius: 0px;}
.d_nav_th .navbar-toggle span{color: #fff; font-size: 20px;}
@media (max-width: 767px) {
	.open .menu_hover:after{background:none;}
	.d_nav_th .nav .open > a,.d_nav_th .nav .open > a:hover,.d_nav_th .nav .open > a:focus{background:#53575E; color:#fff;}
	.d_nav_th .navdown>a{background-color: #53575E; color: #fff;}
	.nav2li>a{border-top:1px solid #53575E;}
	.d_nav_th .open > a, .d_nav_th .open > a:hover, .d_nav_th .open > a:focus{border-top:1px solid #53575E;}
  .d_nav_th .navbar-nav .dropdown-menu{
    display: block;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .d_nav_th .navbar-collapse{width: 100%;}
  .d_nav_th .navbar-nav .dropdown-menu > li > a{padding: 3px 20px 3px 30px;}
  .d_nav_th .navbar-nav .open .dropdown-menu > li > a{padding: 3px 20px 3px 30px;}
  .d_nav_th .navbar-default .navbar-nav > .dropdown > a{color: #555 !important;  background-color: #e7e7e7 !important;}
  .nav2li>a{height: 50px !important; line-height: 50px !important;}
  .d_nav_th .nav2li>a:hover{background: #53575E;}
  .nav3li>a {height: 40px;  line-height: 35px !important;}
  #nav1{border-top:1px solid #53575E;}
  .d_nav_th .navbar-header{min-height: 100px;}
}
/*banner*/.v2_banner {position:relative;}
.v2_banner .carousel-control{background-image:none;}
.v2_banner .carousel-indicators li{display: inline-block; position: relative; width: 12px; height: 12px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -o-border-radius: 50%; margin: 3px; border:none; cursor: pointer;
box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset,1px 1px 1px rgba(255,255,255,0.5); 
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset,1px 1px 1px rgba(255,255,255,0.5); 
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset,1px 1px 1px rgba(255,255,255,0.5); 
-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset,1px 1px 1px rgba(255,255,255,0.5); }
.v2_banner .glyphicon-chevron-right,.v2_banner .glyphicon-chevron-left{  font-size: 30px !important; display:block; padding-top: 2px; height: 36px; width: 36px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; cursor: pointer; z-index: 2000; box-shadow: 1px 1px 1px rgba(0,0,0,0.2) inset,1px 1px 1px rgba(255,255,255,0.2);
-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2) inset,1px 1px 1px rgba(255,255,255,0.2);
-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2) inset,1px 1px 1px rgba(255,255,255,0.2);
-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.2) inset,1px 1px 1px rgba(255,255,255,0.2);}
.v2_banner{background-color: #4CCFC1; overflow: hidden;}
.v2_banner .v2-banner__dz{display:block; font-size: 0px;}
.v2_banner .v2-banner__dz img{max-width:none !important;width:100%; height:auto;}
.v2_banner .carousel-control.left{background-image: none;}
.v2_banner .carousel-control.right{background-image: none;}
.v2_banner .bannerboot img,.v2_banner .v2-banner__dz img{
position: relative; left: 50%;
transform:translateX(-50%);
-ms-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-o-transform:translateX(-50%);
}
@media (max-width: 767px) {
	.v2_banner .bannerboot img,.v2_banner .v2-banner__dz img{max-width:none !important;}
	.v2_banner{height: 240px; overflow: hidden;}
	.bannerboot img{height: 240px !important;}
}

@media (max-width: 479px) {
	.v2_banner{height: 200px; overflow: hidden;}
	.bannerboot img{height: 200px !important;}
}
@media (max-width: 319px) {
	.v2_banner{height: 150px; overflow: hidden;}
	.bannerboot img{height: 150px !important;}
}
.v2_banner .fo-shadow{ position:absolute; text-align:center; width:100%; z-index:4; top:0;}
.v2_banner .fo-shadow img{ max-width:100%;min-height:140px;}

/** 关于我们 */
@media (min-width: 1200px){
	.left-about {width:52%;}
	.right-about{width: 48%;}
}


/*友情链接*/
.v2-link{padding:20px 0 0 0;}
.v2-link a{display:inline-block;margin:0 6px 10px; color:#646363;white-space:nowrap;}
.v2-link a:hover{color:#23272a;}
.v2-link a img{height:60px;}

/*底部导航*/
.v2_footer a{color:#fff;}
.v2_footer a:hover{color:#d5d6d7;}
.v2_footer_text{float:left; padding-left:0px; text-align:left; color:#999;}
.v2_footer_text a{color:#999;}
.v2_footer_text a:hover{color:#fff;}
.v2_footer_nav{line-height:30px; float:right; text-align:right; margin-bottom:20px; padding-right:0px;}
.v2_footer_nav a{margin-left:30px; color:#999;}
.v2_footer_nav a:hover{color:#fff;}
@media(max-width:768px){
	.v2_footer_text{padding-right:0px; padding-left: 15px;}
	.v2_footer_nav{float:left; text-align:left;}
	.v2_footer_nav a{margin-left:0px; margin-right:10px;}
}
@media(max-width:480px){
	.v2_footer_text{padding-left: 10px; padding-right: 10px;}
	.v2_footer_nav{padding-left: 10px; padding-right: 10px;}
}
.powered_by_metinfo{height:35px;color:#999;}
.powered_by_metinfo a{color:#999;}
.powered_by_metinfo a:hover{color:#fff;}


/*内页二级栏目导航*/
.met_section{position:relative;padding:30px 0 50px;background-color: #eeeeee;}
.met_section aside{position:relative;float:left;width:230px;}
.met_section article{float:left;margin-left:-230px;width:100%;}
.met_section article .met_article{margin-left:250px;background-color: #ffffff;padding: 10px 20px 20px 20px;}
.met_section_asidenone article{float:none;margin-left:0;}
.met_section_asidenone article .met_article{margin-left:0;}
.met_section aside section{background: #f5f5f5; border:1px solid #ddd; border-radius: 3px; margin-bottom: 20px;}
.met_section aside section h2{padding:0 20px;height:60px; font-size:18px;line-height:60px; position: relative;}
.met_section aside .met_aside_list{background:#fff;border-top:1px solid #ddd;padding-bottom:10px;}
.met_section aside .met_aside_list>dl dt{height:45px;line-height:45px; font-weight: normal;}
.met_section aside .met_aside_list>dl dt a{display:block;padding:0 20px;color:#333;}
.met_section aside .met_aside_list>dl dt a:hover{background:#efefef;}
.met_section aside .met_aside_list>dl dt.on{background:#efefef;}
.met_section aside .met_aside_list>dl dd{padding:6px 0 6px 0; background: #fff; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.met_section aside .met_aside_list>dl dd a{display:block;padding-left:40px;height:35px;color:#333;font-weight:normal;line-height:35px;}
.met_section aside .met_aside_list>dl dd .on a,.met_aside_list>dl dd a:hover{background:#efefef;}
.met_section aside .met_related{margin-top:20px;}
.met_section aside .met_related ul{padding:20px;}
.met_section aside .met_related li{margin-bottom:8px;list-style:none;}
.met_article_head{position:relative;padding: 2em 0; background-color: #008d71;color: #ffffff;}
.met_article_head .met_position{font-family:'宋体';color: #ffffff;text-align: right;}
.met_article_head .met_position a{height: 24px; line-height: 26px;font-family:'Microsoft YaHei',Tahoma,Verdana,'Simsun';color: #ffffff;}
.met_article_head h1{font-weight:normal;font-size:18px; height: 26px; line-height: 24px;color: #ffffff;}
.met_section_sehed{padding-top:0;}
.met_section_head{height:50px;font-size:12px;font-family:'宋体';line-height:50px;color: #ffffff;}
.met_section_head a{color:#999;font-family:'Microsoft YaHei',Tahoma,Verdana,'Simsun';}
.met_section_head a:hover{color:#e9280c;}
.sidebaran{width:40px; height:40px; cursor:pointer; color:#999; font-size: 22px; display:block; position: absolute; top: 10px; right: 10px; text-align: center; line-height: 40px;}
@media (max-width: 992px){
	.met_section{position:relative;padding:20px 10px 30px;}
	.met_section aside{width: 100%; float: initial;}
	.met_section article{margin-left:0px; float: initial;}
	.met_section article .met_article {margin-left: 0px;}
	.met_section aside .met_aside_list{display:none;}
	.sidebarh1ok{display: none;}
}
@media (min-width: 992px){
	.met_section aside .met_aside_list{display:block !important;}
	.sidebaran{display: none;}
}
@media (max-width: 767px){
.met_article_head .met_position {
text-align: left;
}
}

/*新增动画特效*/
.scrollAnimate{ opacity:1; -webkit-transform: translateY(30px); transform: translateY(30px); -webkit-transition:all .6s ease-in; transition:all .6s ease-in;}
.scrollAnimate2{ opacity:1; -webkit-transform: translateY(0); transform: translateY(0);}
/*新增返回顶部*/
#toTop{position:fixed; bottom:-100px; right:18px; z-index:1000; width:32px; height:32px; background:#999; color:#fff; cursor:pointer; border-radius:3px; -webkit-transition:all 0.4s; transition:all 0.4s;}
#toTop i{display:block; padding:8px 0 0 10px; font-size:14px;}
#toTop:hover{ background:#333;}

/* 新增手机版菜单 */
.mobileMenuBtn{ position:fixed; right:20px; top:20px; height:30px; line-height:30px; color:#999; background-color:rgba(255,255,255,0.8);width:30px; text-align:center; cursor:pointer; border:1px solid #ddd; font-size:18px;z-index:6003; border-radius:3px; display:none;}
.mobileMenuBtn:hover{ background-color:#ddd;}
.mobileMenu{ position:fixed; left:-200px; top:0; z-index:6005; font-size:14px; overflow-x:hidden; overflow-y:auto; background:#333; height:100%; width:200px; -webkit-transition:left .3s ease-in; transition:left .3s ease-in;}
.mobileMenu ul{ position:absolute; top:0; width:100%; left:0; height:100%; background:#333; list-style:none; margin:0; padding:0; color:#fff; -webkit-transition:left .3s ease-in; transition:left .3s ease-in;}
.mobileMenu ul li{ border-bottom:1px solid #222; overflow:hidden;}
.mobileMenu ul li a{ display:block; width:80%; float:left; text-indent:15px; color:#fff; height:36px; line-height:36px;}
.mobileMenu ul li a:active{ background-color:#222;}
.mobileMenu ul li a i{ text-indent:0;}
.mobileMenu ul li .openChild{ cursor:pointer; display:block; height:36px; line-height:36px; box-sizing:border-box; border-left:1px solid #222; width:20%; font-size:20px; text-align:center; float:right;}
.mobileMenu ul li .openChild:active{ background-color:#222;}
.mobileMenu ul li ul{ left:100%;}
@media (max-width: 767px) {
  .mobileMenuBtn{ display:block;}
}

/*以下CSS样式谨慎修改，内页各模块样式，多模板可共用*/
body,h1,h2,h3,h4,h5,h6,dl,dt,li,ol,ul,dd,th,td,p,pre,form,input,button,textarea,hr{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
img{border:0}
button,input,select,textarea{font-size:100%}
.met_clear{clear:both}
.met_none{display:none}
.met_hidden{visibility:hidden}
.met_fl{float:left}
.met_fr{float:right}
.met_editor{line-height:2;word-wrap: break-word;}
.met_editor ul,.met_editor ol{padding:0px;margin:0}
.met_editor a{color:#1c57c4}
.met_editor a:hover{text-decoration:underline}
.met_editor img{max-width:100%;height:auto!important;}
.met_editor blockquote{padding-top:5px;padding-bottom:5px;padding-left:15px;border-left:4px solid #ddd}
.met_editor hr{display:block;padding:0;border:0;height:0;border-top:1px solid #ddd;margin:20px 0;-webkit-box-sizing:content-box;box-sizing:content-box}
.met_editor .metvideobox{ text-align:center; visibility:hidden; margin:10px auto; }
.met_editor .video-js{ max-width:100%; }
.met_editor table{width:100%!important;margin-bottom:1.6rem;border-spacing:0!important;border-collapse:collapse!important;padding:0!important;border:0}
.met_editor table td{border:1px solid #ddd!important}
.met_editor table>thead>tr>th,table>tbody>tr>th,table>tfoot>tr>th,table>thead>tr>td,table>tbody>tr>td,table>tfoot>tr>td{padding:.7rem;line-height:1.6;vertical-align:top;border-top:1px solid #ddd}
.met_editor table>thead>tr>th{vertical-align:bottom;border-bottom:1px solid #ddd}
.met_editor #page_break .collapse{display:none}
.met_editor #page_break .num{padding:10px 0;text-align:center}
.met_editor #page_break .num li{display:inline;margin:0 2px;padding:3px 5px;border:1px solid #ccc;background-color:#fff;color:#666;text-align:center;cursor:pointer;font-family:Arial;font-size:12px;overflow:hidden}
.met_editor #page_break .num li.on{background-color:#ccc;color:#fff;font-weight:bold}
.metinfo-banner1{overflow:hidden;margin:0 auto}
.met_pager{text-align:center;padding:10px 0 0}
.resmessagelist .met_pager{padding:10px 0 30px}
.met_pager a{border:1px solid #e0e0e0;text-align:center;height:28px;line-height:28px;min-width:28px;_width:28px;text-align:center;display:inline-block;color:#aaa}
.met_pager a:hover{border:1px solid #a0a0a0;color:#aaa}
.met_pager .PreSpan,.met_pager .NextSpan{height:30px;line-height:30px;min-width:60px;_width:60px;text-align:center;background:#f0f0f0;color:#ccc;display:inline-block}
.met_pager .PreA,.met_pager .NextA{height:28px;line-height:28px;min-width:58px;_width:58px;color:#aaa}
.met_pager .PreSpan,.met_pager .PreA{margin-right:6px}
.met_pager .NextSpan,.met_pager .NextA{margin-left:6px}
.met_pager .firstPage,.met_pager .lastPage{font-weight:bold;height:28px;line-height:28px;min-width:40px;_width:40px;color:#aaa}
.met_pager .Ahover{font-weight:bold;background:#f0f0f0;color:#aaa}
.met_pager .PageText{margin-left:10px;color:#aaa;display: none;}
.met_pager #metPageT,#metPageB{text-align:center;border:1px solid #e0e0e0;color:#aaa}
.met_pager #metPageT{width:20px;padding:6px 5px 5px;display: none;}
.met_pager #metPageB{min-width:40px;_width:40px;padding:6px 0 5px;cursor:pointer;font-weight:bold;display: none;}
*html .met_pager #metPageT{height:13px;line-height:13px}
*html .met_pager #metPageB{padding:0;height:28px;line-height:20px}
*+html .met_pager #metPageT{height:13px;line-height:13px}
*+html .met_pager #metPageB{padding:0;height:28px;line-height:20px}

.met_tools{position:relative;padding:10px 10px 0;height:50px;line-height:50px}
.met_tools .met_page{clear:both;position:absolute;right:5px;top:0;color:#818181}
.met_tools .met_page li{ display:inline; list-style:none; margin-left:30px;}
.met_tools .met_page li span{ padding-right:5px;}
.met_tools .met_page a{color:#607fa6}

#memberbox{padding:15px}
ul.searchnavlist:after{content:" "; clear:both; display:block;}
ul.searchnavlist{list-style:none;padding:0 15px 20px;margin:0}
ul.searchnavlist li{padding:5px 0; float:left; margin-right:20px;}
ul.searchnavlist .advsearch_searchword input{width:90%;height:32px;line-height:32px;padding:2px 5px;border:1px solid #dcdfe0;background-color:#fff;color:#333;outline:0;border-radius:2px}
ul.searchnavlist .searchgo{display:block;background:#23b7e5;border:0 none;height:34px;line-height:26px;padding:0 35px;color:#fff;cursor:pointer;border-radius:2px;font-family:'Microsoft YaHei',Tahoma,Verdana,'Simsun'}
ul.searchnavlist .searchgo:hover{background:#38c4f0}
ul.searchnavlist .searchgo:active{background:#1ba4cf}
#searchlist{padding:0px 15px 30px;}
#searchlist li{padding-left:10px;margin-bottom:6px;line-height:1.5}
#searchlist ul{list-style:none;padding:0;margin:0}
#searchlist ul li{padding:3px 0px;margin-bottom:10px}
#searchlist ul li img{display:none}
#searchlist .search_title{display:block;padding:2px 0}
#searchlist .search_title a{font-size:16px;color:#12C;text-decoration:underline}
#searchlist .search_title em{color:#c00;text-decoration:underline;font-style:normal}
#searchlist .search_detail{display:block}
#searchlist .search_detail a{text-decoration:underline;color:#12C}
#searchlist .search_content em{color:#c00;font-style:normal}
#searchlist .search_updatetime{display:block;margin-top:5px;color:green}
#searchlist a:hover{text-decoration:underline}
.formerror{margin-top:6px;height:20px;line-height:20px}
.formerror .fa-times{color:#fff;border-radius:3px;padding:1px 2px;font-size:16px;margin-right:5px;background:red}
.formerror .fa-check{color:#fff;border-radius:3px;padding:2px;font-size:14px;margin-right:5px;background:#10aa00}
.formerrorbox{border:2px solid #f00!important}
.v52fmbx dl dd.ftype_description{color:#fff;padding:8px;margin:0 5px;background:#6c6fbf}
.ftype_input .fbox{float:left}
.ftype_input .tips{float:left;padding-top:5px}
.ftype_input .fbox input{width:350px;height:28px;line-height:28px\9;padding:2px 5px;border:1px solid #dcdfe0;background-color:#fff;color:#333;outline:0;border-radius:2px}
.placeholder-ie{position:relative}
.placeholder-ie label{position:absolute;left:8px;top:7px;cursor:text;color:#999}
.ftype_textarea .tips{display:block}
.ftype_textarea textarea{width:350px;line-height:1.5;height:100px;padding:7px 5px;border:1px solid #dcdfe0;background-color:#fff;color:#333;outline:0}
.ftype_select .tips,.ftype_select-linkage .tips{display:block;margin-top:5px}
select{line-height:31px;height:31px;vertical-align:middle;background-color:#fff;outline:0;border:1px solid #ccc;padding:4px;color:#656565}
.ftype_radio .fbox label{font-weight:normal;height:28px;line-height:28px;margin:0;display:block}
.ftype_radio .fbox input[type='radio']{border-radius:100%;bottom:3px;height:15px;position:relative;vertical-align:middle;width:15px;margin:0;position:relative;top:-1px;margin-right:6px}
.ftype_radio .formerror{margin-top:0}
.ftype_checkbox .fbox input[type='checkbox']{border-radius:100%;bottom:3px;height:15px;position:relative;vertical-align:middle;width:15px;margin:0}
.ftype_checkbox .fbox label{font-weight:normal;height:28px;line-height:28px;margin:0;display:block}
.ftype_checkbox .fbox input{position:relative;top:-1px;margin-right:6px!important}
.ftype_checkbox .formerror{margin-top:0}
.ftype_transverse .fbox label{display:inline;margin-right:15px}
.submit{display:block;background:#23b7e5;border:0 none;height:34px;line-height:26px;padding:0 35px;color:#fff;cursor:pointer;border-radius:2px;font-family:'Microsoft YaHei',Tahoma,Verdana,'Simsun'}
.submit:hover{background:#38c4f0}
.submit.active{background:#1ba4cf}

/** 模板公用部分 */
.container { padding-right: 0px; padding-left: 0px;}
.ul{list-style: none;}
*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.v2-ac:after{content:" "; clear:both; display:block;}
.v2-to{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.v2-lc{overflow:hidden; word-break:break-all; text-overflow:ellipsis; -webkit-box-orient:vertical; display:-webkit-box; -webkit-line-clamp:2;}
.v2-list{list-style:none;}
.v2-dbox{display:-moz-box; display:-webkit-box; display:box;}
.v2-bf1{-moz-box-flex:1; -webkit-box-flex:1; box-flex:1;}
.v2-bf2{-moz-box-flex:2; -webkit-box-flex:2; box-flex:2;}
.v2-bt1d{border-bottom:1px solid #ddd;}
.v2-w100{width:100% !important;}
.v2-mb50{margin-bottom:50px;}
.v2-mtb15{margin-bottom:30px;}
.v2-mt15{margin-top:15px;}
.v2-c{cursor:not-allowed;}

/** 底部下一页 */
@media(max-width:768px){
		.met_tools{height:120px;}
		.met_tools .met_page{top:50px; left:0px;}
		.met_tools .met_page li{margin:0 20px 0 10px; height: 30px; line-height: 30px; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
		.advsearch_class1 select,.advsearch_class2 select,.advsearch_class3 select,.advsearch_searchtype select,.advsearch_searchword input{width:195px !important;}
}

/** 案例列表页 */
#img-v2 ul{border:1px solid #fff; border-right:none; border-bottom:none; margin-bottom: 20px;}
#img-v2 li:hover h2{ color:#fff; background: #162F43; transition: background 0.5s,color 0.5s; }
#img-v2 li a{display:block; background:#fff; padding-bottom:1px; padding-right:1px;}
#img-v2 li a span{display:block; overflow: hidden;}
#img-v2 li h2{height:50px; background:#F4F4F4; font-weight:normal; font-size:16px; line-height:50px; text-align: center; color: #484848; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
#img-v2 li img{width:100%; height:100%; -webkit-transition: all .3s ease;  -moz-transition: all .3s ease;  transition: all .3s ease;}
#img-v2 li:hover img{
-webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -ms-transform: scale(1.2);
}

/** 案例详情页 */
.csSlideOuter {overflow: hidden;}
.lightSlider:before,.lightSlider:after { content: " "; display: table;}
.csSlideWrapper > ul:after {clear: both;}
.csSlideWrapper .csSlide {
-webkit-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); -webkit-transition: all 1s; transition: all 1s; -webkit-transition-duration: inherit; transition-duration: inherit; -webkit-transition-timing-function: inherit; transition-timing-function: inherit; }
.csSlideWrapper .csFade {
position: relative; -webkit-transition-duration: 1s; transition-duration: 1s; -webkit-transition-timing-function: ease; transition-timing-function: ease; }
.csSlideWrapper .csFade > li {
position: absolute !important; top: 0; left: 0; opacity: 0; z-index: 9; margin-right: 0; -webkit-transition-delay: 0s; transition-delay: 0s; -webkit-transition-duration: inherit; transition-duration: inherit; -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-timing-function: inherit; transition-timing-function: inherit; }
.csSlideWrapper .csFade > li.active {opacity: 1; z-index: 10;}
.csSlideOuter .csPager.cSGallery {
list-style: none outside none; padding-left: 0; margin: 0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.csSlideOuter .csPager.cSGallery li {margin-top:3px !important;
opacity: 0.7; -webkit-transition: opacity 0.35s linear 0s; transition: opacity 0.35s linear 0s; }
.csSlideOuter .csPager.cSGallery li.active, .csSlideOuter .csPager.cSGallery li:hover {opacity: 1;}
.csSlideOuter .csPager.cSGallery img {
display: block; height: auto; max-width:100%;}
.csSlideOuter .csPager.cSGallery:before,
.csSlideOuter .csPager.cSGallery:after {content: " "; display: table; }
.csSlideOuter .csPager.cSGallery:after {clear: both;}
.csAction > a {
width: 32px; display: block; top: 50%; height: 32px; background-image: url('../controls.png'); cursor: pointer; position: absolute; z-index: 99; margin-top: -16px; opacity: 0.5; -webkit-transition: opacity 0.35s linear 0s; transition: opacity 0.35s linear 0s; }
@media(max-width:768px) {.csAction > a {display:none;}}
.csAction > a:hover {opacity: 1;}
.csAction > .csPrev {background-position: 0 0; left: 10px; }
.csAction > .csNext {background-position: -32px 0; right: 10px; }
.cS-hidden {height: 1px; opacity: 0; filter: alpha(opacity=0); overflow: hidden; }
.csSlideOuter .csPager.cSGallery li.active {outline: 2px solid #343434; outline-offset: -2px; }
.gallery li { display: block; float: left; margin-right: 6px;}
.gallery li img { height: auto; width: 100%; display: block; }
.list-unstyled { padding-left: 0; list-style: none; }
#showimg .container-fluid{padding-left:0px; padding-right:0px;}
@media(min-width:768px) {.container-fluid > .navbar-collapse {margin-right:0; margin-left:0;}}
.container-fluid:before,.container-fluid:after{ content: " "; display: table; clear: both;}
/** 产品列表页 */
ol, ul{list-style: none;}
img{max-width: 100%;}
.cd-container{max-width: 1170px;margin: 0 auto;}
.cd-container::after{content: '';display: table;clear: both;}
.cd-img-replace{display: inline-block;overflow: hidden;text-indent: 100%;white-space: nowrap;}
#cd-gallery-items{margin-top: 0em;}
#cd-gallery-items > li{position: relative;margin-bottom: 6em;}
#cd-gallery-items > li img{width: 100%;display: block;}
@media only screen and (min-width: 320px){#cd-gallery-items > li{width: 48%;float: left;margin-right: 4%;margin-bottom: 5em;}
#cd-gallery-items > li:nth-child(2n){margin-right: 0;}}
@media only screen and (min-width: 768px){#cd-gallery-items{margin-top: 0em;}
#cd-gallery-items > li{width: 31%;float: left;margin-right: 3.5%;margin-bottom: 5em;}
#cd-gallery-items > li:nth-child(2n){margin-right: 3.5%;}
#cd-gallery-items > li:nth-child(3n){margin-right: 0;}}
@media only screen and (min-width: 1170px){#cd-gallery-items{margin-top: 0em;}
#cd-gallery-items > li{width: 22%;float: left;margin-bottom: 6em;margin-right: 4%;}
#cd-gallery-items > li:nth-child(2n){margin-right: 4%;}
#cd-gallery-items > li:nth-child(3n){margin-right: 4%;}
#cd-gallery-items > li:nth-child(4n){margin-right: 0;}}
.cd-item-wrapper{-webkit-perspective: 500px;-moz-perspective: 500px;perspective: 500px;-webkit-perspective-origin: 50% -30%;-moz-perspective-origin: 50% -30%;perspective-origin: 50% -30%;}
.cd-item-wrapper li{position: absolute;top: 0;left: 0;-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s;}
.cd-item-wrapper li.cd-item-front{position: relative;z-index: 3;box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);}
.cd-item-wrapper li.cd-item-middle{z-index: 2;}
.active .cd-item-wrapper li.cd-item-middle{-webkit-transform: translate3d(0, 0, -20px);-moz-transform: translate3d(0, 0, -20px);-ms-transform: translate3d(0, 0, -20px);-o-transform: translate3d(0, 0, -20px);transform: translate3d(0, 0, -20px);opacity: .8;box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);}
.cd-item-wrapper li.cd-item-back{z-index: 1;}
.active .cd-item-wrapper li.cd-item-back{-webkit-transform: translate3d(0, 0, -40px);-moz-transform: translate3d(0, 0, -40px);-ms-transform: translate3d(0, 0, -40px);-o-transform: translate3d(0, 0, -40px);transform: translate3d(0, 0, -40px);opacity: .4;box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);}
.cd-item-wrapper li.cd-item-out{z-index: 0;opacity: 0;-webkit-transform: translate3d(0, 0, -60px);-moz-transform: translate3d(0, 0, -60px);-ms-transform: translate3d(0, 0, -60px);-o-transform: translate3d(0, 0, -60px);transform: translate3d(0, 0, -60px);}
.cd-item-wrapper li.move-right{-webkit-transform: translate3d(200px, 0, 0);-moz-transform: translate3d(200px, 0, 0);-ms-transform: translate3d(200px, 0, 0);-o-transform: translate3d(200px, 0, 0);transform: translate3d(200px, 0, 0);opacity: 0;z-index: 4 !important;}
.cd-item-wrapper li.hidden{display: none !important;}
.no-csstransitions .cd-item-wrapper li.cd-item-middle, .no-csstransitions .cd-item-wrapper li.cd-item-back{display: none;}
.cd-item-info{position: absolute;top: 100%;left: 0;width: 100%;height: 50px;line-height: 50px; text-align: center; background-color: #f2f2f2;padding: 0 1em;box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);z-index: 5;}
.cd-item-info:after{content: "";display: table;clear: both;}
.cd-item-info b{font-weight: normal;}
.cd-item-info b a{color: #323d55;}
.cd-item-info b a:hover{text-decoration: initial;}
.cd-item-info em{float: right;color: #7385ad;}
.cd-item-navigation a{position: absolute;top: 50%; background-image:url(../projt.png);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);width: 36px;height: 66px;background-color: rgba(216, 216, 216, 0.4);background-repeat: no-repeat;background-position: center center;z-index: 4;display: none;border-radius: 0.25em;}
.no-touch .cd-item-navigation a:hover{background-color: rgba(216, 216, 216, 0.6);}
.cd-item-navigation a.visible{display: block;-webkit-animation: cd-fade-in 0.4s;-moz-animation: cd-fade-in 0.4s;animation: cd-fade-in 0.4s;}
.cd-item-navigation li:nth-child(1) a{left: 14px;-webkit-transform: translateY(-50%) rotate(180deg);-moz-transform: translateY(-50%) rotate(180deg);-ms-transform: translateY(-50%) rotate(180deg);-o-transform: translateY(-50%) rotate(180deg);transform: translateY(-50%) rotate(180deg);}
.cd-item-navigation li:nth-child(2) a{right: 14px;}
.no-csstransitions .cd-item-navigation{display: none;}
@-webkit-keyframes cd-fade-in{0%{opacity: 0;}
100%{opacity: 1;}}
@-moz-keyframes cd-fade-in{0%{opacity: 0;}
100%{opacity: 1;}}
@keyframes cd-fade-in{0%{opacity: 0;}
100%{opacity: 1;}}
.cd-3d-trigger{position: absolute;bottom: 10px;right: 10px;width: 44px;height: 44px;z-index: 4;}
.no-touch .cd-3d-trigger{display: none;}
.no-touch #cd-gallery-items > li:hover .cd-item-middle, .no-touch #cd-gallery-items > li:hover .cd-item-back{box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);}
.no-touch #cd-gallery-items > li:hover .cd-item-middle{-webkit-transform: translate3d(0, 0, -20px);-moz-transform: translate3d(0, 0, -20px);-ms-transform: translate3d(0, 0, -20px);-o-transform: translate3d(0, 0, -20px);transform: translate3d(0, 0, -20px);opacity: .8;}
.no-touch #cd-gallery-items > li:hover .cd-item-back{-webkit-transform: translate3d(0, 0, -40px);-moz-transform: translate3d(0, 0, -40px);-ms-transform: translate3d(0, 0, -40px);-o-transform: translate3d(0, 0, -40px);transform: translate3d(0, 0, -40px);opacity: .4;}
/** 产品详情页图片 */
.sp-wrap{display: none;line-height: 0;font-size: 0;position: relative;float: left;max-width: 100%;}
.sp-thumbs{text-align: left;display: inline-block;}
.sp-thumbs img{min-height: 50px;min-width: 50px;max-width: 50px;}
.sp-thumbs a:link, .sp-thumbs a:visited{width: 50px;height: 50px;margin:5px; margin-left:0px; margin-bottom:0px; overflow: hidden;opacity: .3;display: inline-block;background-size: cover;background-position: center;-webkit-transition: all .2s ease-out;-moz-transition: all .2s ease-out;-ms-transition: all .2s ease-out;-o-transition: all .2s ease-out;transition: all .2s ease-out;}
.sp-thumbs a:hover{opacity: 1;}
.sp-thumbs a:active, .sp-current{opacity: 1!important;position: relative;}
.sp-large{position: relative;overflow: hidden;top: 0;left: 0;}
.sp-large a img{max-width: 100%;height: auto;}
.sp-large a{display: block;}
.sp-zoom{position: absolute;left: -50%;top: -50%;cursor: -webkit-zoom-in;cursor: -moz-zoom-in;cursor: zoom-in;display: none;}
.sp-lightbox{position: fixed;top: 0;left: 0;height: 100%;width: 100%;background: rgb(0, 0, 0);background: rgba(0, 0, 0, .9);z-index: 500;display: none;cursor: pointer;}
.sp-lightbox img{position: absolute;margin: auto;top: 0;bottom: 0;left: 0;right: 0;max-width: 90%;max-height: 90%;border: 2px solid #fff;}
#sp-prev, #sp-next{position: absolute;top: 50%;margin-top: -25px;z-index: 501;color: #fff;padding: 14px;text-decoration: none;background: #000;border-radius: 25px;border: 2px solid #fff;width: 50px;height: 50px;box-sizing: border-box;transition: .2s;}
#sp-prev{left: 10px;}
#sp-prev:before{content: '';border: 7px solid transparent;border-right: 15px solid #fff;position: absolute;top: 16px;left: 7px;}
#sp-next{right: 10px;}
#sp-next:before{content: '';border: 7px solid transparent;border-left: 15px solid white;position: absolute;top: 16px;left: 18px;}
#sp-prev:hover, #sp-next:hover{background: #444;}
@media screen and (max-width: 400px){.sp-wrap{margin: 0 0 15px 0;}
#sp-prev, #sp-next{top: auto;margin-top: 0;bottom: 25px;}}
/*产品详情页面参数*/
.showproductright{padding-right:0px;}
@media screen and (max-width: 767px){.showproductleft{padding-right:0px;}}
.showproduct_paralist_ul li{height:35px; line-height:35px; color:#666;}
.showproduct_paralist_ul span{display:block; float:left; min-width:50px; margin-right:10px;}
/** 新闻列表 */
.newslist_p15{padding: 15px;}
.newslist_p2015{padding: 20px 15px;}
.newslist_b0{border:none !important;}
.newslist_m0{margin:0px !important;}
.newslist_p0{padding:0px !important;}
.newslist_w126{width: 126px;}
.newslist_pr0{padding-right: 0px !important;}


/*首页内容css*/
body a{transition:0.5s all;-webkit-transition:0.5s all;-moz-transition:0.5s all;-o-transition:0.5s all;-ms-transition:0.5s all;}
input[type="button"]{transition:0.5s all;-webkit-transition:0.5s all;-moz-transition:0.5s all;-o-transition:0.5s all;-ms-transition:0.5s all;}
h1,h2,h3,h4,h5,h6{padding:0 0;margin:0 0;}
p{padding:0 0;margin:0 0;}
ul{padding:0 0;margin:0 0;}
body{padding:0 0;margin:0 0;}
a.button{font-size: 1em;text-decoration: none;background: #008d71;padding: 0.2em 1em;color: #fff;}
/* Shutter In Horizontal*/
.hvr-shutter-in-horizontal{display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;background: #2098d1;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.hvr-shutter-in-horizontal:before{content: "";position: absolute;z-index: -1;top: 0;bottom: 0;left: 0;right: 0;background:#5b6169;-webkit-transform: scaleX(1);transform: scaleX(1);-webkit-transform-origin: 50%;transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active{color: white;}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before{-webkit-transform: scaleX(0);transform: scaleX(0);}
.service-section{padding: 1.5em 0;text-align: center;}
.service-section h3{font-size:2.5em;color: #5b6169;text-transform: uppercase;text-align: center;}
.service-section p{font-size:1em;color: #333;text-transform: uppercase;text-align: center;padding:0.5em 0;}
.service-section h3 span{display:inline-block; padding:0; background:#fff;color: #333;font-size: 24px;line-height:2;border-bottom:1px solid #e5e5e5;}
.service-grid{margin-top:1.75em; margin-bottom:1.5em;overflow:hidden;padding: 0 3em;}
.service-grid img{width: auto;}
.service-grid img:hover{opacity:0.5;-webkit-transition: all .3s ease;transition: all .3s ease;}
.service-grid h4{font-size: 1.2em;text-transform: uppercase;padding: 0.2em 0;margin-top:0.5em;text-align:center;line-height:2;height:2em;overflow:hidden;}
.service-grid p{font-size: 1em;color: #2c2929;margin-bottom: 0.5em;text-align:center;}
.about-down{background-color: #58c5c0;}
.about-down p{text-align:center;color:#ffffff;margin-top:50px;margin-bottom:50px;font-size:18px;padding:0;}

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.footer-section{padding: 3em 0;text-align: center;background: #1a1a1a;}
.footer-top p{font-size: 17px;color: #d5d6d7;font-weight: 400;}
.footer-top a{font-size: 19px;color: #0e83cd;font-weight: 400;text-transform: capitalize;}
.footer-top a:hover{color: #d5d6d7;}
.footer-top p a{margin: 0 6px 0 6px;}
/*新闻区块*/
.news-section{background-repeat: no-repeat;background-position: center center;margin-top: 40px;background-attachment: fixed;}
.news-section .right-news{color: #ffffff;background-color: #181818;padding-bottom: 40px;padding-left: 10px;padding-top: 40px;padding-right: 10px;}
.news-section .right-news h3{font-size:1.8em;color: #ffffff;line-height: 1.5;padding:0 15px;}
.news-section .right-news p{padding:0 15px; color:#999;}
.news-section .right-news .mod-list{}
.news-section .right-news .mod-item{margin-top:20px;}
.news-section .right-news .mod-pic{ display:block; opacity:1; -webkit-transition:all .3s ease;transition:all .3s ease;text-align: center;}
.news-section .right-news .mod-pic img{ max-width:100%;width:100%;}
.news-section .right-news .mod-title{ display:block; margin-top:5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.news-section .right-news .mod-read{ display:inline-block; padding:3px 15px; background-color:#999; color:#fff;margin-top:5px;}
.news-section .right-news .mod-pagination{margin-top:30px;}
.news-section .right-news .mod-yema{ display:inline-block; padding:3px 10px; border:1px solid #ddd;margin-left:5px;}
.news-section .right-news .mod-yema.active{ background-color:#eee;}
.news-section .right-news .mod-list:hover a.mod-pic{opacity:.6;}
.news-section .right-news .mod-list a.mod-pic:hover{opacity:1;}
.news-section .right-news .buttons{max-width:200px;margin-right:auto;margin-left:auto;margin-top:20px;}
.news-section .right-news .mod-a{background: #181818;display:block;padding-top:8px;padding-right:15px;padding-bottom:8px;padding-left:15px;font-size:16px;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;border-left:1px solid #ffffff;border-top:1px solid #ffffff;color:#ffffff;text-align:center;}
.news-section .right-news .mod-a:hover{background-color:#333333;border-top:1px solid #999999;border-right:1px solid #999999;border-bottom:1px solid #999999;border-left:1px solid #999999;color:#dddddd;}
@media(max-width:992px){.news-section {background-image: none!important;}}
/*滚动区块*/
.imgcase{margin-top: 10px;background-attachment: fixed;}
.imgcase_content{padding-top: 100px;padding-bottom: 100px;}
.imgcase_content .item{opacity:1; margin-left:8px; margin-right:8px;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.imgcase_content .pic{ display:block;}
.imgcase_content .pic img{ max-width:100%;}
.imgcase_content .title{ display:none; margin-top:5px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.imgcase_content .owl-buttons div{ position:absolute; top:50%; margin-top:-20px; font-size:36px; color:#fff; background: #000;border-radius: 50%;  opacity: 0.4; width: 40px;  height: 40px;  line-height: 1; }
.imgcase_content .owl-buttons div:hover{ opacity:.6;}
.imgcase_content .owl-buttons .owl-prev{ left:0;}
.imgcase_content .owl-buttons .owl-next{ right:0;}
.imgcase_content:hover .item{opacity:.4;}
.imgcase_content:hover .item:hover{opacity:1;}
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
a.button{font-size: 1.2em;}
.service-section h3{font-size: 2em;}
.service-grid h4{font-size: 1.3em;}
.service-grid p{font-size: 1em;text-align: center;}
#skills span{top: -32px;left: 2%;font-size: 1em;}
.footer-top p{font-size: 15px;}
.footer-top a{font-size: 17px;}
}
@media(max-width:992px){.service-grid{margin-top:2em;}.}
@media(max-width:768px){
.logo{width: 20%;}
a.button{font-size: 1.1em;}
.service-section{padding: 3em 0;}
.service-section h3{font-size: 1.6em;margin-bottom: 1em;}
.service-grid h4{font-size: 1.2em;}
.service-grid p{font-size: 0.9em;}
}
@media (max-width: 640px){a.button{font-size: 1em;}
.service-section h3{font-size: 1.4em;background: none;}
.service-grid p{font-size: 0.89em;}
.footer-top p{font-size: 14px;}
.footer-top a{font-size: 15px;}
}
@media (max-width: 479px){
.service-section{padding: 2em 0;}
.service-section h3{font-size: 1.2em;margin: 0;}
.service-grid img{width: 20%;}
.productar img{width: auto;}
.service-grid{float: none;width: 100%;margin-top:1em;}
.service-grid p{font-size: 0.9em;}
a.button{font-size: 0.95em;}
.footer-top p{font-size: 12px;}
.footer-top a{font-size: 13px;}
}
@media (max-width: 320px){.logo{width: 32%;}
.service-section h3{font-size: 1.1em;}
.service-grid{margin-top: 1.5em;}
.service-grid img{width: 25%;}
.productar img{width: auto;}
.service-grid h4{font-size: 0.99em;}
.service-grid p{font-size: 0.89em;}
}


/*******************************************/
.top-language{
	float:right;
	padding:18px 0;
	margin-right:15px;
	cursor:pointer;
	z-index:5;
}
.top-language div{
	vertical-align:middle;
}

.en-ico{
	background:url(../images/icons.png) no-repeat;
	background-position:-300px -100px;
	width:28px;
	height:26px;
	display:inline-block;
}


.main-txt-bottom{
	border-top:1px solid #babcbf;
	color:#fff;
	font-size:36px;
	padding-top:30px;
}
.main-txt-bottom > div{
	padding:0;
	text-align:center;	
    height:100px;	

}
.main-txt-bottom > div+div{
    border-left:1px solid #fff;   
}
.col-sm-3 p {text-transform: uppercase;
    margin-bottom: 0;
    font-size: 13px;
    text-indent: 0px;
	margin-top:5px;
    color: #fff;}

.service-grid {
    margin-top: 1.75em;
    margin-bottom: 1.5em;
    overflow: hidden;
    padding: 0 1.5em;
}

.imgcase_content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.n_h2{

    display: block;
  
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	margin-top: 0;
    margin-bottom: 10px;
	font-size: 30px;
	}